.routingContainer {
  font-family: "Manrope", serif;
  background: #eceade;
  button {
    background: #023a3a;
    color: white;
    border-radius: 6.25rem;
    padding: 0.75rem 2.5rem;
    font-family: "Manrope", serif;
    font-size: 1.25rem;
    width: fit-content;
    cursor: pointer;
  }
  h2 {
    font-family: "Manrope", serif;
  }
  .slide-up {
    transform: translateY(-2.3rem);
    opacity: 1;
    transition:
      opacity 1s ease-out,
      transform 0.45s ease-out;
  }

  .hidden {
    opacity: 0;
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 540px) {
  .routingContainer {
    button {
      width: 100% !important;
      max-height: unset !important;
      font-size: 18px;
    }
  }
}
